
<%= link_to 'New Article', new_article_path %>

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @articles.each do |article| %>
      <div class="item <%= 'active' if article == @articles.first %>">
        <%#= link_to article do %> 
                    <%= filepicker_image_tag article.link %>
          <%#= filepicker_image_tag article.link, w: 1000, h: 1000, fit: 'clip' %>
        <%# end %>
      </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>